qemu/GNUmakefile
qemu/build/
qemu/.cache/
qemu/.vscode/
qemu/*.pyc
qemu/.sdk
qemu/.stgit-*
qemu/.git-submodule-status
qemu/.clang-format
qemu/.gdb_history
qemu/cscope.*
qemu/tags
qemu/TAGS
qemu/GPATH
qemu/GRTAGS
qemu/GTAGS
qemu/*~
qemu/*.ast_raw
qemu/*.depend_raw
qemu/*.swp
qemu/*.patch
qemu/*.gcov

seabios/out
seabios/*.pyc
seabios/.config
seabios/.config.old
